@import "~assets/scss/vars.scss";

@mixin __cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;

  .card {
    position: relative;
    padding: 1rem 5px 5px 5px;
    display: flex;

    width: 50%;
    @include __media_phone {
      width: 100%;
    }

    &-title {
      position: absolute;
      display: inline;
      left: 2rem;
      top: 0.25em;
      background: var(--them-foregraund);
      padding: 0 5px;
      font-size: 0.9em;
    }

    &-content {
      width: 100%;
      border: 1px solid var(--them-color-border);
      border-radius: 30px;
      background: var(--them-foregraund);
      overflow: hidden;
    }
  }
}
