{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs", "plugin:nuxt/recommended"],
  "plugins": ["prettier", "nuxt"],
  // add your custom rules here
  "rules": {
    "space-before-function-paren": "off",
    "prettier/prettier": "error",
    "multiline-ternary": "off",
    "vue/multi-word-component-names": "off"
  }
}
